<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">

       div.a{
            float:left;
            width: 500px;
            height: 300px;
            margin-left: 20px;
        }

        div.head{
            height: 200px;
            margin-left: 20px;
        }
        div.container{
            left: 30%;
            width: 2000px;
            height: 1000px;
            position: absolute;top:10%;left: 10%;
        }

    </style>

</head>
<body>
    <div class="container">
        <div class="head">
            <h1>慧测科技<p>This is a demo</p></h1>
        </div>
        <div class="a">
            <h2>Heading1</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui</p>
        </div>
        <div class="a">
            <h2>Heading2</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui</p>
        </div>
        <div class="a">
            <h2>Heading3</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui</p>
        </div>
    </div>
</body>
</html>