<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .header {
            width: 100%;
            height: 60px;
            background-color: #369;
            line-height: 60px;
        }

        .header .title {
            font-size: 20px;
            font-weight: 100;
            color: white;
            margin-left: 20px;
        }
    </style>
    <link rel="stylesheet" href="/static/bs/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/article_detail.css">
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/bs/js/bootstrap.js"></script>

</head>
<body>

<div class="header">
    <p class="title">{{ blog.title }}</p>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-3">
            {% load my_tags %}
            {% get_query_data username %}
        </div>
        <div class="col-md-9">
           {% block content %}

           {% endblock %}

        </div>
    </div>
</div>

</body>
</html>