<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script>

        var s="hello python";

        alert(s.charAt(8));
        alert(s.indexOf("h"));
        alert(s.slice(2))

    </script>
</head>
<body>
  <div comment_id="1" class="conmment_item">
            <span class="content">111</span>
            <div comment_id="4" class="conmment_item">
                <span class="content">444</span>
                <div comment_id="5" class="conmment_item">
                    <span class="content">555</span>
                </div>
            </div>
        </div>

        <div comment_id="2" class="conmment_item">
            <span class="content">222</span>
        </div>
        <div comment_id="3" class="conmment_item">
            <span class="content">333</span>
        </div>
</body>
</html>