{% extends 'intro.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<body>
    {% block title %}
         <div class="row">
                    <h1>接口测试服务平台 <span>用户登录</span></h1>
                </div>

                <div class="row">
                    <p style="margin-left: 80px">访问接口平台请先注册用户</p>
                    <p>如果未注册,请点击下方注册按钮 切换到注册页面</p>
                </div>
    {% endblock %}
    {% block form %}
    <h2>用户登录 <i style="float: right" class="fa fa-user-circle fa-2x"></i></h2>
                 <h3>填写以下信息，完成登录：</h3>
                <div class="divider"></div>
                <form action="/login/submit" method="post">
                  <div class="form-group">
                    <input type="text" class="form-control input-lg" name="username" placeholder="用户名">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control input-lg" name="password" placeholder="密码">
                  </div>
                  <button style="margin-top: 40px" id="login" type="submit" class="btn btn-success btn-lg btn-block">立即登录</button>
                </form>
        <script type="text/javascript">
            $(function () {
               /* $("form").bootstrapValidator({
                    feedbackIcons: {//根据验证结果显示的各种图标
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        username: {
                            validators: {
                                notEmpty: {
                                    message: "用户名不能为空"
                                },
                                stringLength: {//检测长度
                                    min: 5,
                                    max: 20,
                                    message: '用户名必须在6-20位之间'
                                }
                            }
                        },
                        password: {
                            validators: {
                                notEmpty: {
                                    message: "密码不能为空"
                                },
                                stringLength: {//检测长度
                                    min: 5,
                                    max: 20,
                                    message: '密码必须在6-20位之间'
                                }
                            }
                        }
                    }
                });
                $("small").css("font-size", "18px");
                $("i").css("margin-top", "10px");
*/
                $("#login").click(function () {
                /* $("input[name='password']").val();*/
                    var password_sign = $("input[name='password']");
                    password_sign.val(md5(password_sign.val()))
                    })
            })
        </script>
    {% endblock %}
</body>
</html>