<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.css">
</head>
<body>
<h3>录入成绩</h3>

<div class="container">
    <div class="row">
        <div class="col-md-10">

            <form action="" method="post">
                {% csrf_token %}
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>姓名</th>
                        <th>考勤</th>
                        <th>成绩</th>
                        <th>批语</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for student_study_record in  student_study_record_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ student_study_record.student }}</td>
                            <td>
                                {{ student_study_record.get_record_display }}
                            </td>
                            <td>
                                <select name="score_{{ student_study_record.pk }}" id="" class="form-control">
                                    {% for foo in score_choices %}
                                        {% if student_study_record.score == foo.0 %}
                                         <option selected value="{{ foo.0 }}">{{ foo.1 }}</option>
                                        {% else %}
                                         <option value="{{ foo.0 }}">{{ foo.1 }}</option>
                                        {% endif %}

                                    {% endfor %}

                                </select>
                            </td>
                            <td><textarea name="homework_note_{{ student_study_record.pk }}" id="" cols="40" rows="5">{{ student_study_record.homework_note|default_if_none:"" }}</textarea>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>

                <input type="submit" class="btn btn-warning pull-right" value="保存">

                {% if update %}
                <span style="color:green">更新成功</span>
                {% endif %}
            </form>
        </div>
    </div>
</div>
</body>
</html>